#Apresentacao{
    background-color: aquamarine;
}

#Indentificacao{
    background-color: antiquewhite;
}
#Objetivo{
    background-color:bisque;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Luquinhas{
    color:aqua;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.azulEscuro{
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#HabilidadeTecnica{
    background-color: blanchedalmond;
}

#Formacao{
    background-color: beige;
}

ul{
    
}